<div class="container">
    <div class="list-coaches">
        <div class="title-buscador">
            <h4>Listado de coaches</h4>
            <div class="buscador">
                <input type="search" placeholder="Buscar">
            </div>
        </div>
        <div class="list">
            <div class="coach-card">
                <div class="img"></div>
                <p>Manuel Diaz</p>
            </div>
            <div class="coach-card">
                <div class="img"></div>
                <p>Gabriela Perez</p>
            </div>
            <div class="coach-card">
                <div class="img"></div>
                <p>Josefina Luca</p>
            </div>
            <div class="coach-card">
                <div class="img"></div>
                <p>Lucrecia Gomez</p>
            </div>
        </div>
    </div>
</div>